@font-face {
    font-family: "walkAroundTheBlock";
    src: url('./fonts/Walk-Around-the-Block.ttf');
   }

@font-face{
    font-family: "greekHouse";
    src: url('./fonts/GreekHouse\ Symbolized_Free.ttf')
}

@font-face{
    font-family: "gabuek";
    src: url('./fonts/gabuek_script/Gabuek\ Script.ttf')
}

@font-face{
    font-family: "attraction";
    src: url('./fonts/attraction/Attraction\ Personal\ Use.ttf')
}
  
@font-face{
    font-family: "priceDown";
    src: url('./fonts/pricedown/pricedown\ bl.ttf')
}

body{
    margin:0;
    background-image: url('./images/hw8tbdx.png')
}



.radio > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.radio > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.radio > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}

body {
    background-color: blue;
}

.gameCont{

   background-image: url('./images/mainBackground.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: 100%;
   height: 1000px;

}

#userInfoBar{
    color:white;
    background-color: black;
    width: 100%;
    position: fixed;
    display: flex; 

    

}


#upgradeCont{

}

#highScoresCont{
    font-family: "gabuek";
    color: white; 

}

#highScoreTitle{
    font-family: "priceDown"
}

#logInCont{
    text-align: center; 

}

#logInBttn{

}

#signUpBttn{

}


#signUpForm{
    font-family: "priceDown";
    font-size: 30px;
    color: white;
    padding: 0px; 

}

#signInName{
/* padding: 5px; */
}

#signInPassword{
/* padding: 5px; */

}

#charSelectTitle{
    font-family: "priceDown"
}

